priority -50

###########################
# Div                     #
###########################
snippet "-\s" "Checkbox" r
- [ ] ${1:TODO item}
endsnippet

snippet "\*\s" "Checkbox" r
* [ ] ${1:TODO item}
endsnippet

snippet cb "Codeblock" b
\`\`\`${1:Language}
$2
\`\`\`
$0
endsnippet
