priority -50

###########################
# Div                     #
###########################
snippet "ch" "Checkbox" r
- [ ] ${1:TODO item}
endsnippet

snippet cb "Codeblock" b
\`\`\`${1:Language}
$2
\`\`\`
$0
endsnippet

snippet date "Date" br
## `date "+%A %Y-%m-%d"`
endsnippet
