priority -50

###########################
# Div                     #
###########################
snippet ch "Checkbox" b
- [ ] ${1:TODO item}
endsnippet

snippet cb "Codeblock" b
\`\`\`${1:Language}
$2
\`\`\`
$0
endsnippet

snippet date "Date" b
## `date "+%A %Y-%m-%d"`
endsnippet
